@font-face {
    font-family: mainFont;
    src: url(resources/bookmania_regular.otf);
}

html, body {
    height: 100%;
}

body {
    margin:0;
    font-family: mainFont;
}

#header {
    background-image: url("resources/background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-size: cover;
    width: 100%;
    height: 100%;
    display:flex;
}

#header-content {
    align-self: flex-end;
    bottom:0;
    left:0;
    height: 13.25rem;
    display: flex;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 60%, rgba(0,0,0,0) 100%);
    border-bottom: black 1px solid;
}

#header-content span {
    align-self: flex-end;
    color: whitesmoke;
    padding: 1rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#header-content h1 {
    padding:0;
    padding-bottom: 0.5rem;
    margin:0;
    font-size: 4rem;
}

h1 a {
    color:whitesmoke;
    text-decoration: none;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#notification {
    position: fixed;
    top:0;
    right:0;
    font-size: 2rem;
    background-color: lightcoral;
    padding-left:0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 0.2rem;
    box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.4);
}

#notification a {
    color:whitesmoke;
    text-decoration: underline;
}

#homepage {
    background-color: whitesmoke;
    height:calc(100vh - 13.25rem);
    display: grid;
    grid-template-columns: auto auto;
}

#homepage .container {
    display: inline-grid;
    padding-left:1rem;
    font-size: 1.2rem;
    color:whitesmoke;
}

#homepage .container h1 {
    font-size: 2rem;
}

#homepage .container h1 a {
    text-decoration: none;
    color:whitesmoke;
}

#homepage #large {
    background-image:radial-gradient(circle, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.8) 30%, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 100%), url("resources/selbst.jpeg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

#homepage #smalltop {
    background-image:url("resources/kontakt.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#homepage #smallbottom {
    background-image:url("resources/spenden.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#content
{
    background-color: whitesmoke;
    height:calc(100vh - 13.25rem);
}

#footer {
    text-align: right;
    background-color: whitesmoke;
}