@font-face {
    font-family: mainFont;
    src: url(_resources/bookmania_regular.otf);
}

html, body {
    height: 100%;
}

body {
    margin:0;
    font-family: mainFont;
}

#header {
    background-image: url("_resources/background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
}

#header-content {
    align-self: flex-end;
    bottom:0;
    left:0;
    height: 20%;
    display: flex;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 60%, rgba(0,0,0,0) 100%);
    border-bottom: black 1px solid;
}

#header-content span {
    align-self: flex-end;
    color: whitesmoke;
    padding: 1rem;
    padding-bottom: 2rem;
    font-size: 2rem;
}

#header-content h1 {
    padding:0;
    padding-bottom: 0.5rem;
    margin:0;
    font-size: 4rem;
}

h1 a {
    color:whitesmoke;
    text-decoration: none;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#notification {
    position: fixed;
    top:0;
    right:0;
    font-size: 2rem;
    background-color: lightcoral;
    padding-left:0.2rem;
    padding-bottom: 0.2rem;
    box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.4);
}

#notification a {
    color:whitesmoke;
    text-decoration: none;
}

#content {
    background-color: whitesmoke;
    height: 80%;
    display: flex;
}

#footer {
    text-align: right;
    background-color: whitesmoke;
}