#scroll-button{
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.6);
    border-radius: 1.5em;

    position: absolute;
    top: 1em;
    left: 1em;

    padding: 1em;
}

#homepage {
    background-color: whitesmoke;
    height: calc(100vh - 14rem);
    display: grid;
    grid-template-columns: auto auto;
}

#homepage .container {
    display: inline-grid;
    font-size: 1.2rem;
    color:whitesmoke;
}

#homepage .container h1 {
    font-size: 2rem;
    color:whitesmoke;
}

#homepage .container .description {
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: linear-gradient(0deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.4) 40%);
}

#homepage #large {
    background-image:url("resources/selbst.jpeg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin:1rem 0.5rem 0 0;
}

#homepage #smalltop {
    background-image:url("resources/kontakt.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin:1rem 0 0.5rem 0.5rem;
}

#homepage #smallbottom {
    background-image:url("resources/spenden.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0.5rem 0 0 0.5rem;
}

@media (max-width: 800px) {
    #homepage { 
        display: flex;
        flex-direction: column;
    }
    
    #homepage #large {
        flex: 2;
        margin-left: 0;
        margin-right: 0;
    }

    #homepage #smalltop {
        flex: 1;
        margin-left: 0;
        margin-right: 0;
    }
    #homepage #smallbottom {
        flex: 1;
        margin-left: 0;
        margin-right: 0;
    }
 }